In [0]:
from sklearn.datasets import load_boston
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
boston_data=load_boston()

In [0]:
df=pd.DataFrame(boston_data.data,columns=boston_data.feature_names)
df.head()

      CRIM    ZN  INDUS  CHAS    NOX  ...  RAD    TAX  PTRATIO       B  LSTAT
0  0.00632  18.0   2.31   0.0  0.538  ...  1.0  296.0     15.3  396.90   4.98
1  0.02731   0.0   7.07   0.0  0.469  ...  2.0  242.0     17.8  396.90   9.14
2  0.02729   0.0   7.07   0.0  0.469  ...  2.0  242.0     17.8  392.83   4.03
3  0.03237   0.0   2.18   0.0  0.458  ...  3.0  222.0     18.7  394.63   2.94
4  0.06905   0.0   2.18   0.0  0.458  ...  3.0  222.0     18.7  396.90   5.33

[5 rows x 13 columns]

In [0]:
import pandas as pd
import numpy as np
import tensorflow as tf

In [4]:
train_df = pd.read_csv('https://firebasestorage.googleapis.com/v0/b/bible-project-2365c.appspot.com/o/train.csv?alt=media&token=9c5d17c2-0589-43ea-b992-e7c2ad02d714', index_col='ID')
train_df.head()

       crim    zn  indus  chas    nox  ...  tax  ptratio   black  lstat  medv
ID                                     ...
1   0.00632  18.0   2.31     0  0.538  ...  296     15.3  396.90   4.98  24.0
2   0.02731   0.0   7.07     0  0.469  ...  242     17.8  396.90   9.14  21.6
4   0.03237   0.0   2.18     0  0.458  ...  222     18.7  394.63   2.94  33.4
5   0.06905   0.0   2.18     0  0.458  ...  222     18.7  396.90   5.33  36.2
7   0.08829  12.5   7.87     0  0.524  ...  311     15.2  395.60  12.43  22.9

[5 rows x 14 columns]

In [0]:
predictors = ['crim', 'zn', 'indus', 'chas', 'nox', 'rm', 'age', 'dis', 'rad', 'tax', 'ptratio', 'black', 'lstat']
target = 'medv'
from sklearn.preprocessing import MinMaxScaler

In [0]:
scaler = MinMaxScaler(feature_range=(0, 1))
scaled_train = scaler.fit_transform(train_df)
multiplied_by = scaler.scale_[13]
added = scaler.min_[13]
scaled_train_df = pd.DataFrame(scaled_train, columns=train_df.columns.values)

In [0]:
model = tf.keras.Sequential()

In [0]:
model.add(tf.keras.layers.Dense(50, activation='relu'))
model.add(tf.keras.layers.Dense(100, activation='relu'))
model.add(tf.keras.layers.Dense(50, activation='relu'))
model.add(tf.keras.layers.Dense(1))
model.compile(loss='mean_squared_error', optimizer='adam')

In [0]:
X = scaled_train_df.drop(target, axis=1).values
Y = scaled_train_df[[target]].values

In [11]:
model.fit(
    X[10:],
    Y[10:],
    epochs=50,
    shuffle=True,
    verbose=2
)

Epoch 1/50
323/323 - 1s - loss: 0.1579
Epoch 2/50
323/323 - 0s - loss: 0.0544
Epoch 3/50
323/323 - 0s - loss: 0.0391
Epoch 4/50
323/323 - 0s - loss: 0.0305
Epoch 5/50
323/323 - 0s - loss: 0.0260
Epoch 6/50
323/323 - 0s - loss: 0.0194
Epoch 7/50
323/323 - 0s - loss: 0.0155
Epoch 8/50
323/323 - 0s - loss: 0.0106
Epoch 9/50
323/323 - 0s - loss: 0.0089
Epoch 10/50
323/323 - 0s - loss: 0.0082
Epoch 11/50
323/323 - 0s - loss: 0.0077
Epoch 12/50
323/323 - 0s - loss: 0.0071
Epoch 13/50
323/323 - 0s - loss: 0.0091
Epoch 14/50
323/323 - 0s - loss: 0.0097
Epoch 15/50
323/323 - 0s - loss: 0.0083
Epoch 16/50
323/323 - 0s - loss: 0.0081
Epoch 17/50
323/323 - 0s - loss: 0.0078
Epoch 18/50
323/323 - 0s - loss: 0.0063
Epoch 19/50
323/323 - 0s - loss: 0.0073
Epoch 20/50
323/323 - 0s - loss: 0.0061
Epoch 21/50
323/323 - 0s - loss: 0.0060
Epoch 22/50
323/323 - 0s - loss: 0.0056
Epoch 23/50
323/323 - 0s - loss: 0.0056
Epoch 24/50
323/323 - 0s - loss: 0.0049
Epoch 25/50
323/323 - 0s - loss: 0.0048
Epoch 26/50
323/323 - 0s - loss: 0.0051
Epoch 27/50
323/323 - 0s - loss: 0.0048
Epoch 28/50
323/323 - 0s - loss: 0.0055
Epoch 29/50
323/323 - 0s - loss: 0.0052
Epoch 30/50
323/323 - 0s - loss: 0.0045
Epoch 31/50
323/323 - 0s - loss: 0.0051
Epoch 32/50
323/323 - 0s - loss: 0.0045
Epoch 33/50
323/323 - 0s - loss: 0.0044
Epoch 34/50
323/323 - 0s - loss: 0.0042
Epoch 35/50
323/323 - 0s - loss: 0.0049
Epoch 36/50
323/323 - 0s - loss: 0.0042
Epoch 37/50
323/323 - 0s - loss: 0.0038
Epoch 38/50
323/323 - 0s - loss: 0.0039
Epoch 39/50
323/323 - 0s - loss: 0.0039
Epoch 40/50
323/323 - 0s - loss: 0.0040
Epoch 41/50
323/323 - 0s - loss: 0.0034
Epoch 42/50
323/323 - 0s - loss: 0.0033
Epoch 43/50
323/323 - 0s - loss: 0.0040
Epoch 44/50
323/323 - 0s - loss: 0.0037
Epoch 45/50
323/323 - 0s - loss: 0.0037
Epoch 46/50
323/323 - 0s - loss: 0.0032
Epoch 47/50
323/323 - 0s - loss: 0.0034
Epoch 48/50
323/323 - 0s - loss: 0.0030
Epoch 49/50
323/323 - 0s - loss: 0.0032
Epoch 50/50
323/323 - 0s - loss: 0.0034

In [12]:
test_error_rate = model.evaluate(X[:10], Y[:10], verbose=0)
print("The mean squared error (MSE) for the test data set is: {}".format(test_error_rate))
prediction = model.predict(X[:1])

The mean squared error (MSE) for the test data set is: 0.0020912708714604378

In [13]:
y_0 = prediction[0][0]
print('Prediction with scaling - {}',format(y_0))
y_0 -= added
y_0 /= multiplied_by
print("Housing Price Prediction  - ${}".format(y_0))

Prediction with scaling - {} 0.4939829707145691
Housing Price Prediction  - $27.22923368215561

In [14]:
Y_0 = Y[0]
print('Ground truth with scaling - {}'.format(Y_0))
Y_0 -= added
Y_0 /= multiplied_by

print('Ground Truth Price - ${}'.format(Y_0))

Ground truth with scaling - [0.42222222]
Ground Truth Price - $[24.]