In [1]:
# First we import the libraries 
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import warnings
warnings.filterwarnings("ignore")

In [2]:
# Import the data
train_data = pd.read_csv(r"C:\Users\Gaurav\Downloads\TitanicDataset\train.csv")
test_data = pd.read_csv(r"C:\Users\Gaurav\Downloads\TitanicDataset\test.csv")
result_data = pd.read_csv(r"C:/Users/Gaurav/Downloads/TitanicDataset/test_result.csv")

In [3]:
train_data.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [4]:
Y= train_data["Survived"]

# Data Preprocssing

In [5]:
# What information do we need to find who will survive
x_train = train_data[["Pclass","Sex","Age","Fare","Embarked"]]

In [6]:
x_test = test_data[["Pclass","Sex","Age","Fare","Embarked"]]
x_test.head()

   Pclass     Sex   Age     Fare Embarked
0       3    male  34.5   7.8292        Q
1       3  female  47.0   7.0000        S
2       2    male  62.0   9.6875        Q
3       3    male  27.0   8.6625        S
4       3  female  22.0  12.2875        S

In [7]:
x_train.head()

   Pclass     Sex   Age     Fare Embarked
0       3    male  22.0   7.2500        S
1       1  female  38.0  71.2833        C
2       3  female  26.0   7.9250        S
3       1  female  35.0  53.1000        S
4       3    male  35.0   8.0500        S

In [8]:
x_train["Sex"].isnull().sum()

0

In [9]:
x_test["Sex"].isnull().sum()

0

In [10]:
x_train["Age"].isnull().sum() # Now we have missing so inorder to fill the place we just need to take averagevalue

177

In [11]:
x_test["Age"].isnull().sum()

86

In [12]:
x_train['Age'] = x_train['Age'].fillna(x_train.Age.median())
x_test["Age"]= x_test["Age"].fillna(x_test["Age"].median())

In [13]:
x_test["Age"].isnull().sum()

0

In [14]:
x_train["Age"].isnull().sum()

0

In [15]:
x_train["Fare"].isnull().sum()

0

In [16]:
x_test["Fare"].isnull().sum()

1

In [17]:
x_test['Fare'] = x_test['Fare'].fillna(x_test.Fare.median())

In [18]:
x_test["Fare"].isnull().sum()

0

In [19]:
x_train["Pclass"].isnull().sum()

0

In [20]:
x_test["Pclass"].isnull().sum()

0

In [21]:
x_test["Embarked"].isnull().sum()

0

In [22]:
x_train["Embarked"].isnull().sum()

2

In [23]:
x_train['Embarked'] = x_train['Embarked'].fillna('S') # Because s is comman values

In [24]:
x_test.head()

   Pclass     Sex   Age     Fare Embarked
0       3    male  34.5   7.8292        Q
1       3  female  47.0   7.0000        S
2       2    male  62.0   9.6875        Q
3       3    male  27.0   8.6625        S
4       3  female  22.0  12.2875        S

In [25]:
#So there is no remaining missing values.
x_train.head()

   Pclass     Sex   Age     Fare Embarked
0       3    male  22.0   7.2500        S
1       1  female  38.0  71.2833        C
2       3  female  26.0   7.9250        S
3       1  female  35.0  53.1000        S
4       3    male  35.0   8.0500        S

In [26]:
#Now we are seeing that there are categorial variable so in order to train we need to changethem into integer values.
d = {'male':0,'female':1}
x_train["Sex"]= x_train["Sex"].apply(lambda x:d[x])
x_test["Sex"]= x_test["Sex"].apply(lambda x:d[x])

In [27]:
d = {'S':0,'C':1,'Q':2}
x_train["Embarked"]= x_train["Embarked"].apply(lambda x:d[x])
x_test["Embarked"]= x_test["Embarked"].apply(lambda x:d[x])

In [43]:
# Binning numerical columns
x_train['Age'] = pd.qcut(x_train.Age, q=4, labels=False )
x_train['Fare']= pd.qcut(x_train.Fare, q=4, labels=False)
x_train.head()

   Pclass  Sex  Age  Fare  Embarked
0       3    0    0     0         0
1       1    1    3     3         1
2       3    1    1     1         0
3       1    1    2     3         0
4       3    0    2     1         0

In [44]:
x_train.head()

   Pclass  Sex  Age  Fare  Embarked
0       3    0    0     0         0
1       1    1    3     3         1
2       3    1    1     1         0
3       1    1    2     3         0
4       3    0    2     1         0

In [45]:
x_test.head()

   Pclass  Sex   Age     Fare  Embarked
0       3    0  34.5   7.8292         2
1       3    1  47.0   7.0000         0
2       2    0  62.0   9.6875         2
3       3    0  27.0   8.6625         0
4       3    1  22.0  12.2875         0

# Building the model

In [46]:
# Now we need to train this model
#our model is 3 neural network
import keras
from keras.models import Sequential
from keras.layers import Dense

In [47]:
classifier = Sequential()

In [48]:
classifier.add(Dense(output_dim = 3, init = 'uniform', activation = 'relu', input_dim = 5))
#Hidden layer
classifier.add(Dense(output_dim = 2, init = 'uniform', activation = 'relu'))
#output layer with 1 output neuron which will predict 1 or 0
classifier.add(Dense(output_dim = 1, init = 'uniform', activation = 'sigmoid'))

In [49]:
classifier.compile(optimizer = 'adam', loss = 'binary_crossentropy', metrics = ['accuracy'])

In [50]:
classifier.fit(X_train, Y, batch_size = 10, nb_epoch = 100)

Epoch 1/100
891/891 [==============================] - 0s 265us/step - loss: 0.6905 - acc: 0.6117
Epoch 2/100
891/891 [==============================] - 0s 66us/step - loss: 0.6857 - acc: 0.6162
Epoch 3/100
891/891 [==============================] - 0s 67us/step - loss: 0.6808 - acc: 0.6162
Epoch 4/100
891/891 [==============================] - 0s 64us/step - loss: 0.6652 - acc: 0.6790
Epoch 5/100
891/891 [==============================] - 0s 68us/step - loss: 0.6301 - acc: 0.7834
Epoch 6/100
891/891 [==============================] - 0s 64us/step - loss: 0.5968 - acc: 0.7823
Epoch 7/100
891/891 [==============================] - 0s 66us/step - loss: 0.5746 - acc: 0.7800
Epoch 8/100
891/891 [==============================] - 0s 64us/step - loss: 0.5589 - acc: 0.7845
Epoch 9/100
891/891 [==============================] - 0s 67us/step - loss: 0.5452 - acc: 0.7834
Epoch 10/100
891/891 [==============================] - 0s 63us/step - loss: 0.5337 - acc: 0.7823
Epoch 11/100
891/891 [==============================] - 0s 69us/step - loss: 0.5237 - acc: 0.7868
Epoch 12/100
891/891 [==============================] - ETA: 0s - loss: 0.5172 - acc: 0.783 - 0s 73us/step - loss: 0.5149 - acc: 0.7845
Epoch 13/100
891/891 [==============================] - 0s 74us/step - loss: 0.5064 - acc: 0.7856
Epoch 14/100
891/891 [==============================] - 0s 66us/step - loss: 0.4989 - acc: 0.7834
Epoch 15/100
891/891 [==============================] - 0s 66us/step - loss: 0.4922 - acc: 0.7879
Epoch 16/100
891/891 [==============================] - 0s 67us/step - loss: 0.4863 - acc: 0.7901
Epoch 17/100
891/891 [==============================] - 0s 64us/step - loss: 0.4810 - acc: 0.7935
Epoch 18/100
891/891 [==============================] - 0s 66us/step - loss: 0.4762 - acc: 0.7890
Epoch 19/100
891/891 [==============================] - 0s 66us/step - loss: 0.4716 - acc: 0.7924
Epoch 20/100
891/891 [==============================] - 0s 64us/step - loss: 0.4675 - acc: 0.7868
Epoch 21/100
891/891 [==============================] - 0s 64us/step - loss: 0.4638 - acc: 0.7924
Epoch 22/100
891/891 [==============================] - 0s 65us/step - loss: 0.4604 - acc: 0.7935
Epoch 23/100
891/891 [==============================] - 0s 64us/step - loss: 0.4579 - acc: 0.7946
Epoch 24/100
891/891 [==============================] - 0s 66us/step - loss: 0.4553 - acc: 0.7957
Epoch 25/100
891/891 [==============================] - 0s 64us/step - loss: 0.4527 - acc: 0.7946
Epoch 26/100
891/891 [==============================] - 0s 66us/step - loss: 0.4505 - acc: 0.7969
Epoch 27/100
891/891 [==============================] - 0s 65us/step - loss: 0.4485 - acc: 0.7924
Epoch 28/100
891/891 [==============================] - 0s 73us/step - loss: 0.4468 - acc: 0.7912
Epoch 29/100
891/891 [==============================] - 0s 67us/step - loss: 0.4450 - acc: 0.8002
Epoch 30/100
891/891 [==============================] - 0s 69us/step - loss: 0.4435 - acc: 0.7946
Epoch 31/100
891/891 [==============================] - 0s 71us/step - loss: 0.4425 - acc: 0.7980: 0s - loss: 0.4395 - acc: 0.804
Epoch 32/100
891/891 [==============================] - 0s 68us/step - loss: 0.4412 - acc: 0.7969
Epoch 33/100
891/891 [==============================] - 0s 71us/step - loss: 0.4403 - acc: 0.7946
Epoch 34/100
891/891 [==============================] - 0s 73us/step - loss: 0.4397 - acc: 0.7924
Epoch 35/100
891/891 [==============================] - 0s 65us/step - loss: 0.4384 - acc: 0.8036: 0s - loss: 0.4374 - acc: 0.801
Epoch 36/100
891/891 [==============================] - 0s 69us/step - loss: 0.4371 - acc: 0.7969
Epoch 37/100
891/891 [==============================] - 0s 67us/step - loss: 0.4364 - acc: 0.7924: 0s - loss: 0.4290 - acc: 0.797
Epoch 38/100
891/891 [==============================] - 0s 65us/step - loss: 0.4362 - acc: 0.7924
Epoch 39/100
891/891 [==============================] - 0s 68us/step - loss: 0.4360 - acc: 0.7935
Epoch 40/100
891/891 [==============================] - 0s 64us/step - loss: 0.4346 - acc: 0.7946
Epoch 41/100
891/891 [==============================] - 0s 66us/step - loss: 0.4340 - acc: 0.7980
Epoch 42/100
891/891 [==============================] - 0s 66us/step - loss: 0.4338 - acc: 0.7991
Epoch 43/100
891/891 [==============================] - 0s 68us/step - loss: 0.4338 - acc: 0.7991
Epoch 44/100
891/891 [==============================] - 0s 77us/step - loss: 0.4330 - acc: 0.7980
Epoch 45/100
891/891 [==============================] - 0s 83us/step - loss: 0.4325 - acc: 0.7991
Epoch 46/100
891/891 [==============================] - 0s 88us/step - loss: 0.4323 - acc: 0.8002
Epoch 47/100
891/891 [==============================] - 0s 74us/step - loss: 0.4319 - acc: 0.7969
Epoch 48/100
891/891 [==============================] - 0s 69us/step - loss: 0.4313 - acc: 0.7957
Epoch 49/100
891/891 [==============================] - 0s 68us/step - loss: 0.4314 - acc: 0.8013
Epoch 50/100
891/891 [==============================] - 0s 66us/step - loss: 0.4311 - acc: 0.8002
Epoch 51/100
891/891 [==============================] - 0s 64us/step - loss: 0.4314 - acc: 0.8002
Epoch 52/100
891/891 [==============================] - 0s 65us/step - loss: 0.4308 - acc: 0.7980
Epoch 53/100
891/891 [==============================] - 0s 65us/step - loss: 0.4302 - acc: 0.7991
Epoch 54/100
891/891 [==============================] - 0s 73us/step - loss: 0.4303 - acc: 0.7980
Epoch 55/100
891/891 [==============================] - 0s 86us/step - loss: 0.4304 - acc: 0.8047
Epoch 56/100
891/891 [==============================] - 0s 88us/step - loss: 0.4301 - acc: 0.8013
Epoch 57/100
891/891 [==============================] - 0s 74us/step - loss: 0.4295 - acc: 0.8047
Epoch 58/100
891/891 [==============================] - 0s 65us/step - loss: 0.4295 - acc: 0.7980
Epoch 59/100
891/891 [==============================] - 0s 68us/step - loss: 0.4293 - acc: 0.8058
Epoch 60/100
891/891 [==============================] - 0s 65us/step - loss: 0.4290 - acc: 0.8047
Epoch 61/100
891/891 [==============================] - 0s 64us/step - loss: 0.4291 - acc: 0.8047
Epoch 62/100
891/891 [==============================] - 0s 64us/step - loss: 0.4289 - acc: 0.8047
Epoch 63/100
891/891 [==============================] - ETA: 0s - loss: 0.4125 - acc: 0.807 - 0s 65us/step - loss: 0.4289 - acc: 0.7969
Epoch 64/100
891/891 [==============================] - 0s 64us/step - loss: 0.4284 - acc: 0.8058
Epoch 65/100
891/891 [==============================] - 0s 67us/step - loss: 0.4291 - acc: 0.8013
Epoch 66/100
891/891 [==============================] - 0s 65us/step - loss: 0.4287 - acc: 0.8092
Epoch 67/100
891/891 [==============================] - 0s 65us/step - loss: 0.4283 - acc: 0.8114
Epoch 68/100
891/891 [==============================] - 0s 65us/step - loss: 0.4280 - acc: 0.8103
Epoch 69/100
891/891 [==============================] - 0s 65us/step - loss: 0.4279 - acc: 0.8114
Epoch 70/100
891/891 [==============================] - 0s 63us/step - loss: 0.4278 - acc: 0.8047
Epoch 71/100
891/891 [==============================] - 0s 65us/step - loss: 0.4281 - acc: 0.7991
Epoch 72/100
891/891 [==============================] - 0s 65us/step - loss: 0.4278 - acc: 0.8025
Epoch 73/100
891/891 [==============================] - 0s 65us/step - loss: 0.4278 - acc: 0.8092
Epoch 74/100
891/891 [==============================] - 0s 71us/step - loss: 0.4285 - acc: 0.8070
Epoch 75/100
891/891 [==============================] - 0s 82us/step - loss: 0.4273 - acc: 0.8025
Epoch 76/100
891/891 [==============================] - 0s 91us/step - loss: 0.4274 - acc: 0.8025
Epoch 77/100
891/891 [==============================] - 0s 73us/step - loss: 0.4276 - acc: 0.8013
Epoch 78/100
891/891 [==============================] - 0s 67us/step - loss: 0.4275 - acc: 0.8013
Epoch 79/100
891/891 [==============================] - 0s 65us/step - loss: 0.4272 - acc: 0.8047
Epoch 80/100
891/891 [==============================] - 0s 63us/step - loss: 0.4270 - acc: 0.8070
Epoch 81/100
891/891 [==============================] - 0s 65us/step - loss: 0.4273 - acc: 0.8047
Epoch 82/100

891/891 [==============================] - 0s 64us/step - loss: 0.4270 - acc: 0.8013
Epoch 83/100
891/891 [==============================] - 0s 66us/step - loss: 0.4271 - acc: 0.8103
Epoch 84/100
891/891 [==============================] - 0s 64us/step - loss: 0.4268 - acc: 0.8058
Epoch 85/100
891/891 [==============================] - 0s 66us/step - loss: 0.4273 - acc: 0.8036
Epoch 86/100
891/891 [==============================] - 0s 65us/step - loss: 0.4267 - acc: 0.8036
Epoch 87/100
891/891 [==============================] - 0s 67us/step - loss: 0.4266 - acc: 0.8013
Epoch 88/100
891/891 [==============================] - 0s 65us/step - loss: 0.4269 - acc: 0.8025
Epoch 89/100
891/891 [==============================] - 0s 67us/step - loss: 0.4268 - acc: 0.8013
Epoch 90/100
891/891 [==============================] - 0s 66us/step - loss: 0.4268 - acc: 0.8013
Epoch 91/100
891/891 [==============================] - 0s 64us/step - loss: 0.4264 - acc: 0.8070
Epoch 92/100
891/891 [==============================] - 0s 64us/step - loss: 0.4264 - acc: 0.8036
Epoch 93/100
891/891 [==============================] - 0s 72us/step - loss: 0.4264 - acc: 0.7991
Epoch 94/100
891/891 [==============================] - 0s 71us/step - loss: 0.4261 - acc: 0.8070
Epoch 95/100
891/891 [==============================] - 0s 74us/step - loss: 0.4260 - acc: 0.8036
Epoch 96/100
891/891 [==============================] - 0s 78us/step - loss: 0.4263 - acc: 0.8036
Epoch 97/100
891/891 [==============================] - 0s 77us/step - loss: 0.4261 - acc: 0.8013
Epoch 98/100
891/891 [==============================] - 0s 73us/step - loss: 0.4265 - acc: 0.8036
Epoch 99/100
891/891 [==============================] - 0s 77us/step - loss: 0.4261 - acc: 0.8025
Epoch 100/100
891/891 [==============================] - 0s 72us/step - loss: 0.4262 - acc: 0.8013

In [54]:
classifier.evaluate(X_train, Y)

891/891 [==============================] - 0s 60us/step

[0.4249792627480161, 0.8047138042455303]

In [55]:
#getting predictions of test data
prediction = classifier.predict(X_test).tolist()
# list to series
se = pd.Series(prediction)

In [56]:
result_data['check'] = se
result_data['check'] = result_data['check'].str.get(0)

In [57]:
result_data.head()

   PassengerId  Survived     check  final
0          892         0  0.129600      0
1          893         1  0.283679      0
2          894         0  0.129600      0
3          895         0  0.129600      0
4          896         1  0.390178      1

In [58]:
series = []
for val in result_data.check:
    if val >= 0.5:
        series.append(1)
    else:
        series.append(0)
result_data['final'] = series

In [59]:
match = 0
nomatch = 0
no_of_values = 418
for val in result_data.values:
    if val[1] == val[3]:
        match = match +1
    else:
        nomatch = nomatch +1

In [60]:
accuracy = match/no_of_values #this is our testing accuracy

In [61]:
accuracy

0.861244019138756

In [66]:
classifier.evaluate(X_test,result_data.Survived)

418/418 [==============================] - 0s 14us/step

[0.2806053717028011, 0.861244019138756]

In [67]:
from sklearn.metrics import accuracy_score
Accuracy = accuracy_score(result_data.Survived,result_data.final)
print("Accuracy:", Accuracy)

Accuracy: 0.861244019138756

# 3 layer Neural Network is getting more accuracy than SVM.It mean 3NN is Better.