In [86]:
"""
Created on Tue Aug 13 16:53:20 2019

Principal Component Analysis on the asteroids data
Perform a Principal Component Analysis on the asteroids data. 
What is the minimum number of principal components that contain 50% of the information? 
How many principal components for 90% information?

@author: Saransh
"""
import pandas as pd
import numpy as np
from sklearn.preprocessing import StandardScaler
from sklearn.decomposition import PCA
pd.options.display.float_format = '{:,.2f}'.format

In [87]:
#Read and process the data set
data = pd.read_csv('nasa.csv', header = 0)
data.head()

,Neo Reference ID,Name,Absolute Magnitude,Est Dia in KM(min),Est Dia in KM(max),Est Dia in M(min),Est Dia in M(max),Est Dia in Miles(min),Est Dia in Miles(max),Est Dia in Feet(min),...,Asc Node Longitude,Orbital Period,Perihelion Distance,Perihelion Arg,Aphelion Dist,Perihelion Time,Mean Anomaly,Mean Motion,Equinox,Hazardous
0,3703080,3703080,21.60,0.13,0.28,127.22,284.47,0.08,0.18,417.39,...,314.37,609.60,0.81,57.26,2.01,"2,458,161.64",264.84,0.59,J2000,True
1,3723955,3723955,21.30,0.15,0.33,146.07,326.62,0.09,0.20,479.23,...,136.72,425.87,0.72,313.09,1.50,"2,457,794.97",173.74,0.85,J2000,False
2,2446862,2446862,20.30,0.23,0.52,231.50,517.65,0.14,0.32,759.52,...,259.48,643.58,0.95,248.42,1.97,"2,458,120.47",292.89,0.56,J2000,True
3,3092506,3092506,27.40,0.01,0.02,8.80,19.68,0.01,0.01,28.88,...,57.17,514.08,0.98,18.71,1.53,"2,457,902.34",68.74,0.70,J2000,False
4,3514799,3514799,21.60,0.13,0.28,127.22,284.47,0.08,0.18,417.39,...,84.63,495.60,0.97,158.26,1.48,"2,457,814.46",135.14,0.73,J2000,True

In [88]:
#Removing the categorical value
data = data.drop(columns = ['Name','Neo Reference ID','Close Approach Date','Orbiting Body' ,'Orbit Determination Date', 'Equinox', 'Hazardous'])
data.head()

,Absolute Magnitude,Est Dia in KM(min),Est Dia in KM(max),Est Dia in M(min),Est Dia in M(max),Est Dia in Miles(min),Est Dia in Miles(max),Est Dia in Feet(min),Est Dia in Feet(max),Epoch Date Close Approach,...,Semi Major Axis,Inclination,Asc Node Longitude,Orbital Period,Perihelion Distance,Perihelion Arg,Aphelion Dist,Perihelion Time,Mean Anomaly,Mean Motion
0,21.60,0.13,0.28,127.22,284.47,0.08,0.18,417.39,933.31,788947200000,...,1.41,6.03,314.37,609.60,0.81,57.26,2.01,"2,458,161.64",264.84,0.59
1,21.30,0.15,0.33,146.07,326.62,0.09,0.20,479.23,"1,071.58",788947200000,...,1.11,28.41,136.72,425.87,0.72,313.09,1.50,"2,457,794.97",173.74,0.85
2,20.30,0.23,0.52,231.50,517.65,0.14,0.32,759.52,"1,698.34",789552000000,...,1.46,4.24,259.48,643.58,0.95,248.42,1.97,"2,458,120.47",292.89,0.56
3,27.40,0.01,0.02,8.80,19.68,0.01,0.01,28.88,64.57,790156800000,...,1.26,7.91,57.17,514.08,0.98,18.71,1.53,"2,457,902.34",68.74,0.70
4,21.60,0.13,0.28,127.22,284.47,0.08,0.18,417.39,933.31,790156800000,...,1.23,16.79,84.63,495.60,0.97,158.26,1.48,"2,457,814.46",135.14,0.73

In [89]:
#Standardize the data
X_std = StandardScaler().fit_transform(data.astype(np.float))
X_std[:3,:]

array([[-0.23104209, -0.20941058, -0.20941058, -0.20941058, -0.20941058,
        -0.20941058, -0.20941058, -0.20941058, -0.20941058, -1.97308738,
        -1.07713904, -1.07713904, -1.07713904,  1.11607514,  1.11607526,
         1.11607505,  1.11607503, -0.29508936,  0.48182219, -0.63171955,
        -0.34104856,  0.3009042 ,  0.23821558,  0.01287488, -0.67195451,
         1.37719066, -0.07004915, -0.02117222, -1.22388641,  0.01957056,
         0.45919023,  0.77839321, -0.43110028],
       [-0.33482448, -0.15840557, -0.15840557, -0.15840557, -0.15840557,
        -0.15840557, -0.15840557, -0.15840557, -0.15840557, -1.97308738,
         0.56814611,  0.56814611,  0.56814611,  0.86592141,  0.86592148,
         0.86592139,  0.8659215 , -0.19063867, -0.167955  ,  1.15865026,
         0.3239018 ,  0.3009042 , -0.17123418, -0.5580782 ,  1.37531503,
        -0.3431925 , -0.56539287, -0.39326705,  1.24789699, -0.51480172,
         0.07081791, -0.06909298,  0.31258164],
       [-0.68076581,  0.07278876,  0.07278876,  0.07278876,  0.07278876,
         0.07278876,  0.07278876,  0.07278876,  0.07278876, -1.97003488,
        -0.8748918 , -0.8748918 , -0.8748918 , -1.41184276, -1.41184277,
        -1.41184276, -1.41184277, -0.16452599, -1.14262078, -0.43484356,
        -0.40326142,  0.3009042 , -0.19022296,  0.11173524, -0.83546712,
         0.84557267,  0.02156329,  0.56772222,  0.62301108, -0.02132314,
         0.41557933,  1.03940428, -0.52211437]])

In [140]:
#Find the variance each component holds
pca = PCA(n_components=None)
pca.fit(X_std.T)
explained_variance = pca.explained_variance_ratio_

# Create a data set where the second column is the number of components and the first column represents the percentage of inormation 
components_information =  pd.DataFrame(explained_variance*100,range(1, len(explained_variance) + 1), columns = ['Percentage_info'])

#components_information.index.name = 'Components'
components_information['Components']=components_information.index
#The correspnding information used by first 15 compnents
components_information[0:15]

    Percentage_info  Components
1             24.53           1
2             19.68           2
3             13.87           3
4             10.46           4
5              6.61           5
6              4.39           6
7              3.72           7
8              3.55           8
9              3.39           9
10             2.91          10
11             2.30          11
12             1.79          12
13             1.01          13
14             0.91          14
15             0.57          15

In [135]:
#The total number of components
components_information['Components'].shape[0]

33

In [136]:
def no_of_components(arr, info_percent):
    """"
    Input: 
    arr - list containing inofrmation held by all components in percentage.
    info_percent - percentage of information reruired to represent the whole data
    
    Output/ Returns:
    the number of components required to represent the percentage of information provided as input
    """
    comps = 0
    sum_info = 0
    info_percent = float(info_percent)
    for i in range(len(arr)):
        if sum_info >= info_percent:
            break
        sum_info = sum_info + arr[i]
        comps += 1

    return comps

x = components_information.iloc[:,0].values

In [137]:
#The minimum number of compenents that hold 50% of the information 
n50 = no_of_components(x,50)
n50

3

In [131]:
#The total information in percentage stored by all 33 components
components_information['Percentage_info'].sum()

99.99999999999997

In [131]:
#The total information in percentage stored by all 33 components
components_information['Percentage_info'].sum()

99.99999999999997

In [138]:
#The minimum number of compenents that hold 90% of the information 
n90 = no_of_components(x,90)
n90

9