In [22]:
#importing the data

setwd("C:\\Users\\user\\Desktop")

train <- read.csv("train.csv")
test <- read.csv("test.csv")
head(train)
head(test)

  PassengerId Survived Pclass
1 1           0        3
2 2           1        1
3 3           1        3
4 4           1        1
5 5           0        3
6 6           0        3
  Name                                                Sex    Age SibSp Parch
1 Braund, Mr. Owen Harris                             male   22  1     0
2 Cumings, Mrs. John Bradley (Florence Briggs Thayer) female 38  1     0
3 Heikkinen, Miss. Laina                              female 26  0     0
4 Futrelle, Mrs. Jacques Heath (Lily May Peel)        female 35  1     0
5 Allen, Mr. William Henry                            male   35  0     0
6 Moran, Mr. James                                    male   NA  0     0
  Ticket           Fare    Cabin Embarked
1 A/5 21171         7.2500       S
2 PC 17599         71.2833 C85   C
3 STON/O2. 3101282  7.9250       S
4 113803           53.1000 C123  S
5 373450            8.0500       S
6 330877            8.4583       Q

  PassengerId Survived Pclass Name
1 892         0        3      Kelly, Mr. James
2 893         1        3      Wilkes, Mrs. James (Ellen Needs)
3 894         0        2      Myles, Mr. Thomas Francis
4 895         0        3      Wirz, Mr. Albert
5 896         1        3      Hirvonen, Mrs. Alexander (Helga E Lindqvist)
6 897         0        3      Svensson, Mr. Johan Cervin
  Sex    Age  SibSp Parch Ticket  Fare    Cabin Embarked
1 male   34.5 0     0     330911   7.8292       Q
2 female 47.0 1     0     363272   7.0000       S
3 male   62.0 0     0     240276   9.6875       Q
4 male   27.0 0     0     315154   8.6625       S
5 female 22.0 1     1     3101298 12.2875       S
6 male   14.0 0     0     7538     9.2250       S

In [23]:
# columns not required
train$PassengerId <- NULL
train$Name<- NULL
train$Cabin<- NULL

test$PassengerId <- NULL
test$Name<- NULL
test$Cabin<- NULL
head(train)
head(test)

  Survived Pclass Sex    Age SibSp Parch Ticket           Fare    Embarked
1 0        3      male   22  1     0     A/5 21171         7.2500 S
2 1        1      female 38  1     0     PC 17599         71.2833 C
3 1        3      female 26  0     0     STON/O2. 3101282  7.9250 S
4 1        1      female 35  1     0     113803           53.1000 S
5 0        3      male   35  0     0     373450            8.0500 S
6 0        3      male   NA  0     0     330877            8.4583 Q

  Survived Pclass Sex    Age  SibSp Parch Ticket  Fare    Embarked
1 0        3      male   34.5 0     0     330911   7.8292 Q
2 1        3      female 47.0 1     0     363272   7.0000 S
3 0        2      male   62.0 0     0     240276   9.6875 Q
4 0        3      male   27.0 0     0     315154   8.6625 S
5 1        3      female 22.0 1     1     3101298 12.2875 S
6 0        3      male   14.0 0     0     7538     9.2250 S

In [24]:
#checking missing values

sapply(train, function(x) sum(is.na(x)))
sapply(train, function(x) sum(is.na(x))/length(x))


sapply(test, function(x) sum(is.na(x)))
sapply(test, function(x) sum(is.na(x))/length(x))


sapply(train, function(x) length(unique(x)))
sapply(test, function(x) length(unique(x)))

Survived   Pclass      Sex      Age    SibSp    Parch   Ticket     Fare
       0        0        0      177        0        0        0        0
Embarked
       0

 Survived    Pclass       Sex       Age     SibSp     Parch    Ticket      Fare
0.0000000 0.0000000 0.0000000 0.1986532 0.0000000 0.0000000 0.0000000 0.0000000
 Embarked
0.0000000

Survived   Pclass      Sex      Age    SibSp    Parch   Ticket     Fare
       0        0        0       86        0        0        0        1
Embarked
       0

   Survived      Pclass         Sex         Age       SibSp       Parch
0.000000000 0.000000000 0.000000000 0.205741627 0.000000000 0.000000000
     Ticket        Fare    Embarked
0.000000000 0.002392344 0.000000000

Survived   Pclass      Sex      Age    SibSp    Parch   Ticket     Fare
       2        3        2       89        7        7      681      248
Embarked
       4

Survived   Pclass      Sex      Age    SibSp    Parch   Ticket     Fare
       2        3        2       80        7        8      363      170
Embarked
       3

In [25]:
# taking only the required variables for SVM

train = subset(train, select = c(1:6,8,9))
test = subset(test, select = c(1:6,8,9))

train[is.na(train$Age)==TRUE,"Age"] <- mean(train$Age,na.rm=TRUE)
test[is.na(test$Age)==TRUE,"Age"] <- mean(test$Age,na.rm=TRUE)

train <- na.omit(train)
test <- na.omit(test)

head(train)
head(test)

  Survived Pclass Sex    Age      SibSp Parch Fare    Embarked
1 0        3      male   22.00000 1     0      7.2500 S
2 1        1      female 38.00000 1     0     71.2833 C
3 1        3      female 26.00000 0     0      7.9250 S
4 1        1      female 35.00000 1     0     53.1000 S
5 0        3      male   35.00000 0     0      8.0500 S
6 0        3      male   29.69912 0     0      8.4583 Q

  Survived Pclass Sex    Age  SibSp Parch Fare    Embarked
1 0        3      male   34.5 0     0      7.8292 Q
2 1        3      female 47.0 1     0      7.0000 S
3 0        2      male   62.0 0     0      9.6875 Q
4 0        3      male   27.0 0     0      8.6625 S
5 1        3      female 22.0 1     1     12.2875 S
6 0        3      male   14.0 0     0      9.2250 S

In [9]:
#Vriable modification for SVM 
train$SibSp <- as.factor(train$SibSp)
train$Parch<- as.factor(train$Parch)
train$Pclass<- as.factor(train$Pclass)
train$Survived<- as.factor(train$Survived)


test$SibSp <- as.factor(test$SibSp)
test$Parch<- as.factor(test$Parch)
test$Pclass<- as.factor(test$Pclass)
test$Survived<- as.factor(test$Survived)

In [26]:
#Vriable modification for ANN
train$Sex <- ifelse(train$Sex == "male",0,1)
train$Embarked <- ifelse(train$Embarked == "C",1,ifelse(train$Embarked == "Q",2,3))

test$Sex <- ifelse(test$Sex == "male",0,1)
test$Embarked <- ifelse(test$Embarked == "C",1,ifelse(test$Embarked == "Q",2,3))

#Data Normalization for ANN

train$SibSp <- (train$SibSp - min(train$SibSp))/(max(train$SibSp) - min(train$SibSp))
train$Parch<- (train$Parch- min(train$Parch))/(max(train$Parch) - min(train$Parch))
train$Pclass<- (train$Pclass- min(train$Pclass))/(max(train$Pclass) - min(train$Pclass))
train$Sex<- (train$Sex- min(train$Sex))/(max(train$Sex) - min(train$Sex))
train$Age <- (train$Age- min(train$Age))/(max(train$Age) - min(train$Age))
train$Fare <- (train$Fare- min(train$Fare))/(max(train$Fare) - min(train$Fare))
train$Embarked <- (train$Embarked - min(train$Embarked ))/(max(train$Embarked ) - min(train$Embarked ))



test$SibSp <- (test$SibSp - min(test$SibSp))/(max(test$SibSp) - min(test$SibSp))
test$Parch<- (test$Parch- min(test$Parch))/(max(test$Parch) - min(test$Parch))
test$Pclass<- (test$Pclass- min(test$Pclass))/(max(test$Pclass) - min(test$Pclass))
test$Sex<- (test$Sex- min(test$Sex))/(max(test$Sex) - min(test$Sex))
test$Age <- (test$Age- min(test$Age))/(max(test$Age) - min(test$Age))
test$Fare <- (test$Fare- min(test$Fare))/(max(test$Fare) - min(test$Fare))
test$Embarked <- (test$Embarked - min(test$Embarked ))/(max(test$Embarked ) - min(test$Embarked ))

head(test)
head(train)

  Survived Pclass Sex Age       SibSp Parch     Fare       Embarked
1 0        1.0    0   0.4527232 0.000 0.0000000 0.01528158 0.5
2 1        1.0    1   0.6175656 0.125 0.0000000 0.01366309 1.0
3 0        0.5    0   0.8153765 0.000 0.0000000 0.01890874 0.5
4 0        1.0    0   0.3538178 0.000 0.0000000 0.01690807 1.0
5 1        1.0    1   0.2878808 0.125 0.1111111 0.02398360 1.0
6 0        1.0    0   0.1823816 0.000 0.0000000 0.01800600 1.0

  Survived Pclass Sex Age       SibSp Parch Fare       Embarked
1 0        1      0   0.2711737 0.125 0     0.01415106 1.0
2 1        0      1   0.4722292 0.125 0     0.13913574 0.0
3 1        1      1   0.3214375 0.000 0     0.01546857 1.0
4 1        0      1   0.4345313 0.125 0     0.10364430 1.0
5 0        1      0   0.4345313 0.000 0     0.01571255 1.0
6 0        1      0   0.3679206 0.000 0     0.01650950 0.5

In [12]:
#Fitting the SVM algorithm and training the model
install.packages("kernlab")
library(kernlab)
svm.model <- ksvm(Survived ~ ., data = train, kernel = 'vanilladot')
svm.model

Warning message:
"package 'kernlab' is in use and will not be installed"

 Setting default kernel parameters

Support Vector Machine object of class "ksvm"

SV type: C-svc  (classification)
 parameter : cost C = 1

Linear (vanilla) kernel function.

Number of Support Vectors : 424

Objective Function Value : -368.5
Training error : 0.197531

In [13]:
#Predicting using SVM
svm_test.predict <- predict(svm.model, test[,2:8])
head(svm_test.predict)

svm_train.predict <- predict(svm.model, train[,2:8])
head(svm_train.predict)

[1] 0 1 0 0 1 0
Levels: 0 1

[1] 0 1 1 1 0 0
Levels: 0 1

In [15]:
#Confusion Matrix of SVM MOdel

data_train <- table(svm_train.predict,train$Survived)
data_train
data_test <- table(svm_test.predict,test$Survived)
data_test

svm_train.predict   0   1
                0 489 116
                1  60 226

svm_test.predict   0   1
               0 265   6
               1   0 146

In [17]:
#Accuracy in SVM MOdel

accuracy_train  <- sum(diag(data_train ))/sum(data_train )
accuracy_train 
accuracy_test <- sum(diag(data_test))/sum(data_test)
accuracy_test

[1] 0.8024691

[1] 0.9856115

In [31]:
#Fitting Neural Network

set.seed(123)
install.packages("neuralnet")
library(neuralnet)

nn <- neuralnet(Survived ~ Pclass + Sex + Age + SibSp + Parch + Fare + Embarked
,data=train,hidden=4,act.fct = "logistic",linear.output=FALSE)

Warning message:
"package 'neuralnet' is in use and will not be installed"

In [34]:
plot(nn)

In [35]:
#prediction on train data in ANN

output_train <- compute(nn, train[,-1])
predicted_train <- ifelse(output_train$net.result>0.5,1,0)

#prediction on test data in ANN

output_test <- compute(nn, test[,-1])
predicted_test <- ifelse(output_test$net.result>0.5,1,0)

In [36]:
#Confusion Matrix of ANN MOdel

cm_test_ann <- table(predicted_test,test$Survived)
cm_test_ann

cm_train_ann <- table(predicted_train,train$Survived)
cm_train_ann

predicted_test   0   1
             0 246  25
             1  19 127

predicted_train   0   1
              0 510  95
              1  39 247

In [38]:
#Accuracy in ANN MOdel

accuracy_train_ann <- sum(diag(cm_train_ann))/sum(cm_train_ann)
accuracy_train_ann

accuracy_test_ann <- sum(diag(cm_test_ann))/sum(cm_test_ann)
accuracy_test_ann

[1] 0.8496072

[1] 0.8944844